Data/2017-08-01.csv
Data/2018-01-01.csv
Data/2019-01-01.csv
Data/translationAPI-2ff03e8ba90b.json
*/.DS_Store
Data/.ipynb_checkpoints/
Data/.DS_Store
.DS_Store
Data/data/
Data/sejong_corpus_cleaner/
Data/petitions_dataset/
Data/korean_image/
OCR/tesseract-python/
OCR/tesseract-python.zip
OCR/opencv-text-detection
.vscode/
Data/My First Project-22345423bbbe.json
Data/corpus.db
