Data/2017-08-01.csv
Data/2018-01-01.csv
Data/2019-01-01.csv
Data/translationAPI-2ff03e8ba90b.json
*/.DS_Store
Data/.ipynb_checkpoints/
Data/.DS_Store
.DS_Store
Data/data/
Data/sejong_corpus_cleaner/
Data/petitions_dataset/
Data/korean_image/
Data/merged_minwon_text.txt
OCR/tesseract-python/
OCR/tesseract-python.zip
OCR/opencv-text-detection
.vscode/
Data/My First Project-22345423bbbe.json
Data/corpus.db
OCR/deep-text-recognition-benchmark/data/generator/TextRecognitionDataGenerator/fonts/*
OCR/deep-text-recognition-benchmark/data/generator/TextRecognitionDataGenerator/out/*
OCR/deep-text-recognition-benchmark/data/test/*
OCR/deep-text-recognition-benchmark/data/generator/TextRecognitionDataGenerator/training/*
OCR/deep-text-recognition-benchmark/data/generator/TextRecognitionDataGenerator/test/*
OCR/deep-text-recognition-benchmark/data/generator/TextRecognitionDataGenerator/validation/*
OCR/deep-text-recognition-benchmark/data/generator/TextRecognitionDataGenerator/gt_*.txt
OCR/deep-text-recognition-benchmark/data/training/*
OCR/deep-text-recognition-benchmark/data/validation/*
OCR/deep-text-recognition-benchmark/deep-text-recognition-benchmark/saved_models/*
OCR/deep-text-recognition-benchmark/deep-text-recognition-benchmark/modules/__pycache__/*
OCR/deep-text-recognition-benchmark/deep-text-recognition-benchmark/__pycache__/*
OCR/deep-text-recognition-benchmark/data/data_lmdb_release/*
OCR/deep-text-recognition-benchmark/data/demo_image/*
NMT/ko_en_neural_machine_translation/img/*
NMT/ko_en_neural_machine_translation/korean_parallel_corpora/*
NMT/ko_en_neural_machine_translation/maso_ver/*
NMT/ko_en_neural_machine_translation/ko_en.dic
NMT/ko_en_neural_machine_translation/ko_en.mdl
NMT/ko_en_neural_machine_translation/ko_en.np
NMT/simple-nmt/test/*
NMT/simple-nmt/data/corpus.*
NMT/.ipynb_checkpoints/*
Data/corpus.*
Data/sejong.txt
NMT/simple-nmt/simple_nmt/__pycache__/*
NMT/simple-nmt/simple_nmt/models/__pycache__/*
NMT/training_checkpoints/*
NMT/simple-nmt/models/*
Data/html서식/*
NMT/ko_en_neural_machine_translation/embedding_train.txt
NMT/ko_en_neural_machine_translation/__pycache__/*
.idea/
flaskProject3/.idea/*
flaskProject3/__pycache__/*
flaskProject3/upload/*
flaskProject3/ko_th.dic
flaskProject3/ko_th.mdl
flaskProject3/ko_th.np
flaskProject3/models/
flaskProject3/bert/*
flaskProject3/fairseq/*
flaskProject3/mosesdecoder/*
flaskProject3/preprocess.ko-th/
flaskProject3/interactive_bert.sh
flaskProject3/interactive.py