{% extends 'base.html' %}
{% block header %}
    <style>
        nav{background-color: #46b8da;}
    </style>
{% endblock %}

{% block content %}
    {% include 'nav_template.html' %}
    <div class="ftco-practice">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 ftco-heading">
				    <h3><strong>개발자</strong></h3>
                    <p>이재현(korea7030.jhl@gamil.com) : 한국어 관련 데이터 수집 및 전처리, 민원 번역 알고리즘개발, 웹서비스개발</p>
                    <p>주상원(verc123@naver.com) : 문서 인식 OCR, 웹서비스개발</p>
                    <p>이다혜(dhl5813@naver.com) : 민원 데이터 수집 및 전처리, 민원 번역 알고리즘개발</p>
                    <p>조수현(irischo1011@gmail.com) : 태국어관련 사전 데이터 수집 및 데이터 전처리</p>
                    <h3><strong>도움주신 분</strong></h3>
                    <p>고려대 빅데이터 캠퍼스</p>
                    <p>멘토 : 선동언, 류기곤</p>
                </div>
			</div>
            {% include 'focus.html' %}
		</div>
	</div>
{% endblock %}
