{% extends 'base.html' %}
{% block header %}
    {{ super }}
    <style>
        nav{background-color: #46b8da;}
    </style>
{% endblock %}
{% block content %}
    {% include 'nav_template.html' %}
    <div class="ftco-practice">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 ftco-heading">
				    <h1><bold>기대효과</bold></h1>
                    <h3>1. 예산 재분배 가능</h3>
                    <p>- 외국인 관련 예산의 재분배 기회 가능성 제공</p>
                    <p>  현재 국내 체류 외국인 관련 예산은 매년 증가하는 외국인에 비해 할당 예산이 매년 줄어들고 있는 추세이다.(관련 자료:<a href="https://www.sedaily.com/NewsVIew/1VGPRFFN2I">서울경제</a>)</p>
                    <p>이에 따라 외국인 관리가 쉽게 이루어지지 않고 있다. 안그래도 적은 예산으로 인한 정책으로 국민들에게 외국인에게 혈세를 낭비한다는 지적을 받고 있다.</p>
                    <p>이러한 상황에서 외국인 민원 관련 예산의 절약으로 다른 관련 정책을 수행함으로써 유동적인 예산의 재분배가 가능할 것으로 기대할 수 있다.</p>
                    <h3>2. 민원 접수 시간 절약</h3>
                    <p>- 민원 접수 시간 감소</p>
                    <p>  국민들의 민원 접수는 온라인을 통하여 24시가 이루어지고 있다. 하지만 국내 체류 외국인들은 24시간 서비스를 제대로 누리지 못하고 있다. 이에 따라</p>
                    <p>각 지자체 및 관공서에서는 별도로 전문 번역 인원이나 봉사자들을 통하여 외국인들을 위한 민원서비스 시간을 지정하여 운영하고 있다. (관련 자료:<a href="https://www.msn.com/ko-kr/news/national/%EB%8C%80%EA%B5%AC-%EB%82%A8%EA%B5%AC-%EC%99%B8%EA%B5%AD%EC%9D%B8-%EC%A3%BC%EB%AF%BC-%EB%AF%BC%EC%9B%90%ED%86%B5%EC%97%AD-%EC%84%9C%EB%B9%84%EC%8A%A4/ar-BB13wLIn">뉴시스</a>)</p>
                    <p>하지만 시간대가 한정적이고 해당 시간대에 몰리는 인원이 많아 실제 서비스에는 한계가 있는 실정이다.</p>
                    <p>이러한 상황에서 민원 번역 서비스가 제대로 제공된다면 접수시간을 감소함으로써 민원 처리의 편리성과 효율성을 증대할 수 있을 것이라 기대된다.</p>
                    <p>- 신속한 업무 순환 가능</p>
                    <p>  현재 각 관공서 및 지자체에서 외국인 민원 관련 처리에 어려움을 겪고 있는 이유는 접수부터가 원활하지 않기 때문이다. 따라서 간단한 일처리 조차도 접수부터 처리까지</p>
                    <p>2~2시간이 걸리는 상황이다. (관련 자료:<a href="http://mnews.imaeil.com/SocietyAll/2018060416594604850">매일신문</a>) 민원 처리의 가장 큰 관문인 접수가</p>
                    <p>우리 서비스를 통하여 획기적으로 시간 감소를 할 수 있다면 업무의 선순환이 가능할 것으로 기대된다.</p>
                    <h3>3. 업무 부담 감소</h3>
                    <p>- 민원 담당 근로자의 업무 부담감 감소</p>
                    <p>  매년 줄어드는 예산때문에 각 지자체 및 관공서에서는 외국인 관련 인력이 턱없이 부족한 것을 알지만 추가 인력 보충하기에는 요원한 상태이다.</p>
                    <p>통계에 따르면 대구 경북 거주 외국인은 11만명이지만 사무소 민원 전담 직원은 12명으로 1인당 약 만명을 담당하고 있는 상황이다. 또한 1인당 하루 약 400여건의</p>
                    <p>업무 처리를 하고 있어 민원 담당 근로자의 업무 부담감이 큰 상황이다. 이러한 상황에서 우리 서비스를 통하여 예산 분배의 선순환으로 추가 인력 배치나, 민원 접수에서의</p>
                    <p>부담감 및 스트레스를 줄일 수 있을 것이다.(관련 자료:<a href="http://mnews.imaeil.com/SocietyAll/2018060416594604850">매일신문</a>)</p>
                    <h3>4. 삶의 질 개선</h3>
                    <p>- 국내 체류 외국인들의 인권보장을 통한 삶의 질 향상</p>
                    <p>국내 체류 외국인들이 겪어야 하는 문제점은 상당히 많다. 차별적인 시선과 대우 그리고 남들과는 다른 급여, 공공서비스 이용을 위한 접근 제한, 정보 제한과 교육서비스 제한 등이 대표적인</p>
                    <p>문제점이다. 국내 체류 외국인들이 이러한 불평등을 극복하고 인권보장을 실현시키기 위해서는 민원을 통한 청구권 행사가 적법하고 가장 강력한 수단이다. 이러한 권리 행사를</p>
                    <p>제대로 누릴 수 있게 절차를 간소화 시켜주는 것이 우리 서비스의 목적이다. 글도 몰라서 불만사항을 접수조차 못하는 국내 체류 외국인들을 위하여 사용 방법만 알면 자신들의</p>
                    <p>인권 보장을 통한 삶의 질 향상에 많은 부분 기여할 수 있을 것이다.</p>
                    <div class="expect text-center"><img src="{{ url_for('static', filename = 'images/expect_1.png') }}" alt="" /></div>
                </div>
			</div>
			{% include 'focus.html' %}
		</div>
	</div>
{% endblock %}
<!DOCTYPE HTML>
<html>
		<head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Minwon Translate Service for Foreigner</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">


            <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

            <!-- Animate.css -->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/animate.css')}}">
            <!-- Icomoon Icon Fonts-->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/icomoon.css')}}">
            <!-- Bootstrap  -->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.css')}}">

            <!-- Magnific Popup -->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/magnific-popup.css')}}">

            <!-- Owl Carousel  -->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/owl.carousel.min.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/owl.theme.default.min.css')}}">
            <!-- Flexslider  -->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/flexslider.css')}}">
            <!-- Flaticons  -->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'fonts/flaticon/font/flaticon.css')}}">

            <!-- Theme style  -->
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">

            <!-- Modernizr JS -->
            <script src="{{ url_for('static', filename = 'js/modernizr-2.6.2.min.js')}}"></script>
            <!-- FOR IE9 below -->
            <!--[if lt IE 9]>
            <script src="{{ url_for('static', filename = 'js/respond.min.js')}}"></script>
            <![endif]-->

        </head>
	<body>

	<div class="ftco-loader"></div>

	<div id="page" >
	<nav class="ftco-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div id="ftco-logo"><a href="index.html">Home</a></div>
					</div>
					<div class="col-md-10 text-right menu-1">
						<ul>
							<li><a href="index.html">Translate</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="bg_needs.html">BG & Needs</a></li>
							<li><a href="map_template.html">Foreigner Map</a></li>
							<li class="active"><a href="effect.html">Expected Effect</a></li>
							<li><a href="developer.html">Developer</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>





	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename = 'js/jquery.min.js')}}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename = 'js/jquery.easing.1.3.js')}}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename = 'js/jquery.waypoints.min.js')}}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ url_for('static', filename = 'js/jquery.stellar.min.js')}}"></script>
	<!-- Carousel -->
	<script src="{{ url_for('static', filename = 'js/owl.carousel.min.js')}}"></script>
	<!-- Flexslider -->
	<script src="{{ url_for('static', filename = 'js/jquery.flexslider-min.js')}}"></script>
	<!-- countTo -->
	<script src="{{ url_for('static', filename = 'js/jquery.countTo.js')}}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static', filename = 'js/jquery.magnific-popup.min.js')}}"></script>
	<script src="{{ url_for('static', filename = 'js/magnific-popup-options.js')}}"></script>
	<!-- Main -->
	<script src="{{ url_for('static', filename = 'js/main.js')}}"></script>

	 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

	</body>
</html>

