<div class="row">
    <div class="col-md-4 text-center animate-box">
        <div class="services">
            <span class="icon">
                <i class="flaticon-courthouse"></i>
            </span>
            <div class="desc">
                <h3><a href="#">Focus On Multiple Culture</a></h3>
                <p>다문화사회의 중심에서 가장 필요한 점에 주목했습니다.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center animate-box">
        <div class="services">
            <span class="icon">
                <i class="flaticon-padlock"></i>
            </span>
            <div class="desc">
                <h3><a href="#">For more country</a></h3>
                <p>우리나라를 살아가는 더 많은 체류 외국이들을 위하여</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center animate-box">
        <div class="services">
            <span class="icon">
                <i class="flaticon-folder"></i>
            </span>
            <div class="desc">
                <h3><a href="#">For more easy way</a></h3>
                <p>더 쉽게 국내 체류 외국인들 위한 지원방법을 생각하고 있습니다.</p>
            </div>
        </div>
    </div>
</div>