{% extends 'base.html' %}
{% block header %}
    {{ super }}
    <style>
        nav{background-color: #46b8da;}
    </style>
{% endblock %}
{% block content %}
    {% include 'nav_template.html' %}
    <div class="ftco-practice">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center ftco-heading">
                    <h1>2019년 기준</h1>
                    <iframe src="http://127.0.0.1:5000/map" width="400px" height="500px"></iframe>
                </div>
			</div>
			{% include 'focus.html' %}
		</div>
	</div>
{% endblock %}

