{% extends 'base.html' %}
{% block header %}
    {{ super }}
    <style>
        nav{background-color: #46b8da;}
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            // loader hide
            $("#loader").hide();

            // submit 시 loader 활성화
            $("#submit").on('click', function(){
                $("#loader").show();
            });

            // file 선택되었을 때
            $('form input').change(function () {
                $('form p').text(this.files.length + " file(s) selected");
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% include 'nav_template.html' %}
    <div class="ftco-practice" style="height:100vh;">
		<div class="container-fluid">

            <div class="row justify-content-md-center">
                <div class="col-lg-6 px-md-5 mt-5" style="float:left">
                    <h4 class="blockquote text-center">
                    <p class="mb-0">번역할 민원을 업로드 해주세요(Please upload a hwp file)</p>
                    </h4>
                    <form action="upload" method="POST" enctype = "multipart/form-data">
                        <h4 class="font-weight-bold" style="margin-bottom:5px;">Choose translation model</h4>
                          <div>
                            <input type="radio" id="trasnlateChoice1"
                             name="translation" value="1">
                            <label for="trasnlateChoice1">번역기(Google)</label>

                            <input type="radio" id="translateChoice2"
                             name="translation" value="2">
                            <label for="translateChoice2">모델번역</label>
                          </div>
                        <hr style="margin-top:10px; margin-bottom:10px;">
                        <input type="file" name="file"  accept=".hwp"/>
                            <p>Drag your files here or click in this area.</p>
                        <button type="submit" id="submit">Translate</button>
                    </form>
                </div>

                <div class="col col-lg-6 px-md-5 mt-5" style="float:right">
                    {% if result %}
                        <h4 class="blockquote text-center">
                            <p class="mb-0">번역된 문서(Translated document)</p>
                        </h4>
                        <div class="embed-responsive embed-responsive-16by9" style="margin-top:-10vh; height:100vh;">
                            <iframe id="result_iframe" class="embed-responsive-item" src="{{ url_for('uploaded_file', filename=result) }}"
                                    style="-webkit-transform:scale(0.7);-moz-transform-scale(0.7); margin-top:-5vh;" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- loader -->
            <div class="d-flex justify-content-center">
              <div class="spinner-border" id="loader" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
        </div>
    </div>
{% endblock %}